<html>
  <head>
  	<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/cosmo/bootstrap.min.css" rel="stylesheet">
	<title></title>
  </head>
  <body>
  	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <div class="container">
  	<h1><%= @post %></h1><br />
  	<%= params %>
      <form action="/" method="post"> 
        <label>Ссылка на страницу</label>
        <input type="text" name="url_1" ><br />
        <label>Ключевое слово:</label>
        <input type="text" name="key" ><br />
        <input class="btn btn-primary" type="submit" >
      </form>
  </div>
  </body>
</html>